<h1>My Skills</h1>
<br/>
<table>
	<tr>
		<td>Skill</td>
	</tr>
	<% @my_skills.each do |skill| %>
	    <tr>
	      <td><%= skill.skill_name %></td>
	    </tr>
	<% end %>
</table>
<br/>
<%= link_to 'New Development skill', new_development_skill_path %>