<h1>Listing skill_categories</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @skill_categories.each do |skill_category| %>
      <tr>
        <td><%= link_to 'Show', skill_category %></td>
        <td><%= link_to 'Edit', edit_skill_category_path(skill_category) %></td>
        <td><%= link_to 'Destroy', skill_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Skill category', new_skill_category_path %>
